/* Estructura general: header, main, footer, secciones */
header {
  background-color: var(--color-secundario);
  padding: 1rem;
  text-align: center;
}

header h1 {
  color: var(--color-primario);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
}

main {
  padding: 2rem 1rem;
}

section {
  margin-bottom: 3rem;
  padding: 1.5rem;
  background-color: rgba(34, 113, 192, 0.85);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-bottom: 1rem;
  color: var(--color-primario);
}

section h2 i {
  margin-right: 0.5rem;
}

footer {
  background-color: var(--color-secundario);
  color: var(--color-footer-texto);
  text-align: center;
  padding: 1.5rem;
  font-size: 1.2rem;
  border-radius: 12px;
  margin: 2rem 1rem;
}